body {
  background-color: hsl(220, 15%, 55%);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-size: 15px;
}

.card {
  height: 497px;
  width: 320px;
  background-color: hsl(0, 0%, 100%);
  padding: 1rem;
  display: flex;
  /* gap: 1rem; */
  flex-direction: column;
  border-radius: 1.2rem;
  justify-content: center;
  align-items: center;
}

.card img {
  height: 288px;
  width: 288px;
  border-radius: 10px;
}

h1 {
  font-family: outfit;
  font-weight: bold;
  font-size: 22px;
  color: hsl(218, 44%, 22%);
  padding-bottom: 0;
  margin-bottom: 0;
  text-align: center;
}

p {
  font-family: outfit;
  font-weight: 400;
  font-size: 15px;
  color: hsl(212, 45%, 89%);
  text-align: center;
}
